img {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 0.5em 0;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif; /* Cambia "Arial" por la tipografía que prefieras */
}

p {
    text-align: center;
    font-size: 1.2em;
    margin: 0.5em 0;
    color: #6c6c6c; /* Cambia el color del texto según tus preferencias */
}

.carousel-container {
    width: 600px;
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Centra el contenedor del carrusel */
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%; /* Ajusta el ancho de las imágenes al contenedor */
    flex-shrink: 0;
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#prevBtn {
    left: 10px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    cursor: pointer;
    border: none;
}

#nextBtn {
    right: 10px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    cursor: pointer;
    border: none;
}

/* Consultas de medios para dispositivos más pequeños */
@media (max-width: 768px) {
    .carousel-container {
        width: 90%; /* Reduce el ancho al 90% del ancho de la pantalla */
    }

    #prevBtn, #nextBtn {
        width: 30px; /* Reduce el tamaño de los botones */
        height: 30px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .carousel-container {
        width: 100%; /* Ocupa todo el ancho de la pantalla */
    }

    #prevBtn, #nextBtn {
        width: 25px; /* Reduce aún más el tamaño de los botones */
        height: 25px;
        font-size: 14px;
    }
}
